body{
    font-family: sans-serif;
    margin: 0;
    background-color: green;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    height: 70px;
    background-color: rgb(5, 194, 246);
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}


nav a:hover{
    color: aquamarine;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);

}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
} 
.titulito{
    text-align: center;
    color: aqua;
}

.p{
    text-align: center;
    color: white;
    align-items: center;
    padding: 30px 30px;
}

.p  img{
    height: 300px;
}

.causas{
    text-align: center;
    align-items: center;
    color: white;
    padding: 30px 30px;
}

.causas-human{
    text-align: center;
    align-items: center;
    color: white;
    padding: 30px 30px;
}
.titulo{
    color: aqua;
}

.li li{
    color: black;
}

.titulo3{
    color: aqua;
    text-align: center;
}

.li2{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 30px;
}

.li2 li{
    color: black;
    text-align: center;
}

.titulo4{
    text-align: center;
    color: aqua;
}

.li3{
    color: white;
    text-align: center;
    padding: 30px 30px;

}

.li3  li{
    color: black;
    text-align: center;

}

.titulo5{
    text-align: center;
    color: aqua;

}

.li4{
    color: white;
    text-align: center;
    padding: 30px 30px;
}

.li4 li{
    color: black;
    text-align: center;
}